.dark {
  background-color: #0A0A0A;
  color: white;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

.light {
  background-color: #E4E1EC;
  color: black;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}


:global(body) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.grain {
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    inset: 0%;
    overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
